# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
**/dependency-reduced-pom.xml
/docker_sb_clamav-FULL.jar

# Ignore other unneeded files.
*.swp
*.iml
*~
target/
build/

# Ignore eclipse/idea and other files
.DS_Store
.gradle
.idea
.classpath
.project
.settings/
.tomcatplugin
.metadata
.#webclasspath
gw6*
mvn3*
__*
DOC_*.pdf
