# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/temp
**/temp
**/dependency-reduced-pom.xml
**/assemblies
docker_sb_clamav-FULL.jar

# Ignore other unneeded files.
*.swp
*.iml
*.ipr
*.iws
*~
target
build
token.txt
GITHUB.TOKEN
**/.PrometheusPushgatewayImapExporter.properties

# Ignore eclipse/idea and other files
.DS_Store
.gradle
.classpath
.project
.idea
.settings
.vscode
.tomcatplugin
.metadata
.#webclasspath
gw6*
mvn3*
__*
DOC_*.pdf

# CDK asset staging directory
.cdk.staging
cdk.out
