apiVersion: v1
kind: Service
metadata:
  name: nexus
  # namespace: devops-tools
  annotations:
    prometheus.io/scrape: 'true'
    prometheus.io/path:   /
    prometheus.io/port:   '8081'
spec:
  type: NodePort
  ports:
    - port: 8081
      targetPort: 8081
      nodePort: 32081
  selector:
    app: nexus
